.footer {
    width: 100%;
    height: auto;
    background-color: #265E6C;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-info {
    width: 100%;
}

.footer-info p {
    font-family: var(--font-merriweather);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
    color: var(--color-white);
    /* padding-left:calc(50% - 118px); */
    padding-top: 15px;
}

.footer-separator {
    margin: 0 auto;
}

.footer-separator img {
    width: 90%;
}

.politics {
    color: var(--color-white);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media  screen and (min-width:768px) {

    .footer-info {
        width: 60%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
    }

    .footer-info p {
        text-align: left;
        padding-left: 20px;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .politics {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .politics p {
        padding: 0 10px;
    }
}