/* General styles */
:root {
    --color-indigo: #486DB7;
    --color-pink: #F778B9;
    --color-purple: #B378FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-background: #fefffe;
    --font-source-sans: 'Source Sans Pro', sans-serif;
    --font-merriweather: 'Merriweather', serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

summary {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: var(--font-source-sans);
}

body {
    background-color: var(--color-background);
}




/* navbar styles */
.nav {
    width: 100%;
    min-width: 320px;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    position: absolute;
    padding: 16px;
    width: 100%;
    background-color: var(--color-background);
}


.nav--elements {
    padding: 10px;
}

.nav--elements li{
    padding: 5px 0;
}

.nav--elements li:hover{
    background-color:  #F1F1F1;
    transition: all 0.3s;
}

.nav--elements li a {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.09rem;
    color: #555555;
    width: 100%;
    height: auto;
}

.nav--elements li:first-child {
    padding: 5px 0px;
    border-bottom: 2px solid #E4E4E4 ;
}

.nav--elements li:first-child a {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    color: var(--color-purple);
}

.nav--elements li span {
    display: inline-flex;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../assets/icons/rightArrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-logo{
    cursor: pointer;
}


.nav-icon-menu {
    padding: 15px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #414141;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Close and Open hamburger logo */

/* .navlist.open .nav-icon-menu.active .bar:nth-child(2){
    opacity: 0;
}

.nav-icon-menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.nav-icon-menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
} */


.nav-icon-serch {
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
}

@media  screen and (min-width:768px) {

    .nav-icon-menu {
        margin-left: 50px;
    }

    .nav-icon-serch {
        margin-right: 50px;
    }
}


/* MainPhoto section */

.photo-slider{
    width: 100%;
}

.photo-slider__slide {
    height: auto;
}

.photo-slider__slide img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Grid Section */

.grid-section {
   width: 90%;
   height: auto;
   margin: 50px auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 8px;
}

@media  screen and (min-width:768px) {
    .grid-section {
        grid-template-columns: 50% 50%;
    }
}


.grid-section-tittle {
    padding: 20px 0 5px;
    font-weight: 700;
    line-height: 4rem;
    font-size: 3.2rem;
    letter-spacing: 0.09rem;
}

.grid-section-title__underline {
    display: block;
    width: 134px;
    height: 2px;
    background-color: #2D2D2D;
}

.grid-section-card {
    /* border: #486DB7 2px solid; */
    padding: 20px;
}

@media  screen and (min-width:768px) {
    .grid-section-card {
        padding: 50px;
    }
}

/* Grid Icons */

.grid-section-card__icons img {
    width: 100%;
}

/* Grid Colors */

.container-colors {
    width: 100%;
    padding: 8px;
    background-color: #F8F4F4;
}

.container-colors-block {

}

.container-colors-tittle {
    font-weight: 700;
    font-size: 2.4rem;
    color: #7D7D7D;
}

.container-color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.container-color__card {
    height: 80px;
    width: 80px;
    display: grid;
    place-content: center;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: var(--color-white);
}

.container-color__card--F1F1F1 {
    background-color: #F1F1F1;
    color: var(--color-black);
}

.container-color__card--E4E4E4 {
    background-color: #E4E4E4;
    color: var(--color-black);
}

.container-color__card--CACACA {
    background-color: #CACACA;
    color: var(--color-black);
}

.container-color__card--B1B1B1 {
    background-color: #B1B1B1;
    color: var(--color-black);
}

.container-color__card--979797 {
    background-color: #979797;
    color: var(--color-black);
}

.container-color__card--7D7D7D {
    background-color: #7D7D7D;
}

.container-color__card--696969 {
    background-color: #696969;
}

.container-color__card--555555 {
    background-color: #555555;
}

.container-color__card--414141 {
    background-color: #414141;
}

.container-color__card--2D2D2D {
    background-color: #2D2D2D;
}

.container-color__card--191919 {
    background-color: #191919;
}

.container-color__card--indigo {
    background-color: var(--color-indigo);
    place-self: center;
}

.container-color__card--pink {
    background-color: var(--color-pink);
    place-self: center;
}

.container-color__card--purples {
    background-color: var(--color-purple);
    place-self: center;
}

.container-color__card--white {
    background-color: var(--color-white);
    color: var(--color-black);
    
}

.container-color__card--black {
    background-color: var(--color-black);
  
}

/* Section Illustrations */

.container-illustrations {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.container-illustrations-img {
    margin: 50px auto;
}

@media  screen and (min-width:768px) {
    .container-illustrations {
       display: block;
    }

    .container-illustrations-img {
        margin: 50px;
    }
}

/* Section Text */

.container-paragrphs {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media  screen and (min-width:768px) {
    .container-paragrphs {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 20px;
    }

}

.container-article h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.02rem;
    margin: 20px 20px 50px 0px;
}

.container-article h6 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.02rem;
    margin-top: 160px;
    margin-bottom: 20px;
}

.container-article__paragraph {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: 10px 0;
    letter-spacing: -0.02rem;
}

.container-article__paragraph--first {
    font-family: var(--font-merriweather);
    line-height: 3.2rem;
}

.container-article__paragraph--bold {
    font-weight: 700;
}

.container-article__paragraph--third {
    font-family: var(--font-merriweather);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.container-article__paragraph--center {
    font-family: var(--font-merriweather);
    text-align: center;
    font-style: italic;
    margin-top: 60px;
}

.container-article__paragraph--bolder {
    font-family: var(--font-merriweather);
    text-align: center;
    font-weight: 700;
}


/* Section form */
.container-form {
    margin: 30px auto;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.container-form-input {
    display: flex;
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    cursor: pointer;
}

.container-form-input__radio {
    line-height: 2.4rem;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"]:not(:checked) {
    border: 2px solid #979797;
}


/* input[type="checkbox"] {
    display: none;
}

.container-form-input__checkbox {
    padding-left: 2rem;
    position: relative;
}

.container-form-input__checkbox:before {
    content: " ";
    border: solid 1px #979797;
    border-radius: 3px;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0px;
    top: 2px;
}

input[type="checkbox"]:checked + .container-form-input__checkbox:before {
    background-color: #979797;
    background-image: url(./assets/icons/bx-check.svg);
    color: #979797;
    border: red solid 2px;
} */


.container-form-input__button {
    height: 40px;
    width: auto;
    padding: 0px 16px;
    background-color: #696969;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: var(--color-white);
}

.container-form-input__button:first-of-type {
    background-color: var(--color-white);
    border: 1px solid #696969;
    color: #696969;
    font-weight: 400;
}

.container-form-input__button--search {
    height: 40px;
    width: auto;
    padding:  16px;
    background-color: #696969;
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-input__button:hover {
    background-color: rgba(105, 105, 105, 0.7);
}

.container-form-input__button--search:hover {
    background-color: rgba(105, 105, 105, 0.7);
}

.container-form-input__button--search img {
   margin-right: 8px;
}

.container-form-input__button--search p {
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
}


.container-form-input__email {
    height: 50px;
    width: 250px;
    border: solid 1px #B1B1B1;
    padding: 10px;
    border-radius: 5px;
    color: #B1B1B1;
    cursor: text;
}

.container-form-input__select-list {
    height: 50px;
    width: 300px;
    border: 1px solid #696969;
    border-radius: 5px;
    padding: 10px;
}

.container-form-input__message {
    height: 150px;
    width: 250px;
    border: 1px solid #696969;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
}


/* Section Logos */

.container-logos-isotipo img{
    margin: 50px;
    width: 70px;
}

.container-logos-logo img {
    width: 150px;
    margin: 50px;
}

@media  screen and (min-width:768px) {
    .container-logos-isotipo img{
        width: 200px;
    }

    .container-logos-logo img {
        width: 200px;
    }
}

@media  screen and (min-width:1024px) {
    .container-logos-isotipo img{
        width: 300px;
    }

    .container-logos-logo img {
        width: 250px;
    }
}

.container-logos-logo--grey {
    margin: 0 auto;
    width: 100%;
    background-color: #C4C4C4;
}

.container-logos-logo--grey  img{
    margin: 0 auto;
    background-color: #C4C4C4;
}


/* Intermediate Photos */

.photo-slider__slide p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #7D7D7D;
    background-color:  #F1F1F1;
    position: relative;
    top: -3px;
    padding: 10px 20px;
}


/* Bloquote Slider */

.container-bloquote-slider {
    margin: 100px 30px ;
}

.bloquote-slider {
    max-width: 1500px;
    position: relative;
    margin:  40px auto;
}

.bloquote-card {
    display: none;
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 3.2rem;
    font-size: 1.6rem;
    margin: 0 auto;
}

@media  screen and (min-width:1024px) {
    
    .container-bloquote-slider {
        margin: 300px;
    }

    .bloquote-card {
        font-size: 2.4rem;
    }
}


.bloquote-card p {
    width: 70%;
    margin: 0 auto;
    font-style: italic;
}

.bloquote-card span {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(../assets/icons/quatationMarks.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40.03px;
    height: 32px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #2D2D2D;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
 }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(180, 179, 179, 0.63);
  }
  

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

/* Section content */

.container-adds-features {
    margin: 50px auto;
    width: 70%;
}

.container-article {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: var(--font-merriweather);
    line-height: 3.2rem;
    letter-spacing: -0.02rem;
}

.container-article h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    font-family: var(--font-source-sans);
    color: var(--color-indigo);
    padding-bottom: 20px;
}

.container-article em{
    color: var(--color-purple);
    font-style: normal;
}

.features-container-section {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1;
}

.excerpt-container {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: 50px 0;
}

.excerpt-container span {
    background-color: var(--color-indigo);
    width: 10px;
    height: 170px;
    display: inline-block;
    position: absolute;
    
}

.excerpt-container p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    margin-left: 20px;
}

.aside-container-features {
    margin: 50px 0;
}

@media  screen and (min-width:768px) {
    .container-article {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .features-container-section {
        grid-template-columns:  40% 60%;
    }

    .features-container {
        grid-template-columns:  20% 80%;
    }

}

@media  screen and (min-width:1024px) {
    .container-article {
        font-size: 2.0rem;
        line-height: 3.8rem;
    }

    .excerpt-container p {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    .excerpt-container span {
        height: 220px;
    }
}

.features-container {
    display: grid;
    grid-template-columns: 1;
}


.avatar span{
    background-image: url(../assets/icons/avatar.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 88px;
    height: 88px;
    display: block;
}

.search-container {
    height: 56px;
    margin: 50px auto;
    border: 1px solid  #BBB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.search-container input {
    border: none;
    margin: 10px 15px;
    cursor: text;
}


.search-container input:focus {
    border: none;
    outline: none;
}

.search-container div {
    background-color: var(--color-purple);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}

.search-container div:hover {
    background-color: rgba(179, 120, 255, 0.788);
}


.search-container span {
    background-image: url(../assets/icons/searchMenuLogoWhite.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}



@media  screen and (min-width:768px) {
    .features-container {
        grid-template-columns:  20% 80%;
    }

}


.faq-container {
    width: 100%;
    border: none;
    padding: 10px;
    border-bottom: #000000 2px dotted;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 00.02rem;
}

@media  screen and (min-width:768px) {
    .faq-container {
        font-size: 2.4rem;
    }

}

/* Adds */

.add-baner {
    width: 75%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
}


@media  screen and (min-width:768px) {
    .add-baner {
        width: 90%;
        margin: 5% auto;
    }

}


/* Articles and cards */

.articles {
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
    gap: 8px;
    padding: 8px;
}

.article-card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.article-card-container:hover {
    position: absolute;
    background-color: #B1B1B1;
}

.article-card-container span {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--color-pink);
    display: inline-flex;
}

.article-card-container h5 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.02rem;
    color: #414141;
}

.article-card-container p {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    line-height: 3.2rem;
    font-family: var(--font-merriweather);
}



/* example class names */
.button__send {

}
.button__send:hover {
  
}

.button__send--news {

}

.button__send--form {

}