/* General styles */
:root {
    --color-indigo: #486DB7;
    --color-pink: #F778B9;
    --color-purple: #B378FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-background: #fefffe;
    --font-source-sans: 'Source Sans Pro', sans-serif;
    --font-merriweather: 'Merriweather', serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

summary {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: var(--font-source-sans);
}

body {
    background-color: var(--color-background);
}




/* navbar styles */
.nav {
    width: 100%;
    min-width: 320px;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    position: absolute;
    padding: 16px;
    width: 100%;
    background-color: var(--color-background);
}


.nav--elements {
    padding: 10px;
}

.nav--elements li{
    padding: 5px 0;
}

.nav--elements li:hover{
    background-color:  #F1F1F1;
    transition: all 0.3s;
}

.nav--elements li a {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.09rem;
    color: #555555;
    width: 100%;
    height: auto;
}

.nav--elements li:first-child {
    padding: 5px 0px;
    border-bottom: 2px solid #E4E4E4 ;
}

.nav--elements li:first-child a {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    color: var(--color-purple);
}

.nav--elements li span {
    display: inline-flex;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../assets/icons/rightArrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-logo{
    cursor: pointer;
}


.nav-icon-menu {
    padding: 15px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #414141;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Close and Open hamburger logo */

/* .navlist.open .nav-icon-menu.active .bar:nth-child(2){
    opacity: 0;
}

.nav-icon-menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.nav-icon-menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
} */


.nav-icon-serch {
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
}

@media  screen and (min-width:768px) {
    
    .nav-logo {
        display: none;
    }

    .nav-icon-menu {
        margin-left: 50px;
    }

    .nav-icon-serch {
        margin-right: 50px;
    }
}


/* MainPhoto section */

.photo-slider{
    width: 100%;
}

.photo-slider__slide img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Grid Section */

.grid-section {
   width: 90%;
   height: auto;
   margin: 50px auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 8px;
}

@media  screen and (min-width:768px) {
    .grid-section {
        grid-template-columns: 50% 50%;
    }
}


.grid-section-tittle {
    padding: 20px 0 5px;
    font-weight: 700;
    line-height: 4rem;
    font-size: 3.2rem;
    letter-spacing: 0.09rem;
}

.grid-section-title__underline {
    display: block;
    width: 134px;
    height: 2px;
    background-color: #2D2D2D;
}

.grid-section-card {
    border: #486DB7 2px solid;
}

/* Grid Icons */

.grid-section-card__icons img {
    width: 100%;
}

/* Grid Colors */

.container-colors {
    width: 100%;
    padding: 8px;
    background-color: #F8F4F4;
}

.container-colors-block {

}

.container-colors-tittle {
    font-weight: 700;
    font-size: 2.4rem;
    color: #7D7D7D;
}

.container-color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.container-color__card {
    height: 80px;
    width: 80px;
    display: grid;
    place-content: center;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: var(--color-white);
}

.container-color__card--F1F1F1 {
    background-color: #F1F1F1;
    color: var(--color-black);
}

.container-color__card--E4E4E4 {
    background-color: #E4E4E4;
    color: var(--color-black);
}

.container-color__card--CACACA {
    background-color: #CACACA;
    color: var(--color-black);
}

.container-color__card--B1B1B1 {
    background-color: #B1B1B1;
    color: var(--color-black);
}

.container-color__card--979797 {
    background-color: #979797;
    color: var(--color-black);
}

.container-color__card--7D7D7D {
    background-color: #7D7D7D;
}

.container-color__card--696969 {
    background-color: #696969;
}

.container-color__card--555555 {
    background-color: #555555;
}

.container-color__card--414141 {
    background-color: #414141;
}

.container-color__card--2D2D2D {
    background-color: #2D2D2D;
}

.container-color__card--191919 {
    background-color: #191919;
}

.container-color__card--indigo {
    background-color: var(--color-indigo);
    place-self: center;
}

.container-color__card--pink {
    background-color: var(--color-pink);
    place-self: center;
}

.container-color__card--purples {
    background-color: var(--color-purple);
    place-self: center;
}

.container-color__card--white {
    background-color: var(--color-white);
    color: var(--color-black);
    
}

.container-color__card--black {
    background-color: var(--color-black);
  
}

/* Section Illustrations */

.container-illustrations {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.container-illustrations-img {
    margin: 50px auto;
}

@media  screen and (min-width:768px) {
    .container-illustrations {
       display: block;
    }

    .container-illustrations-img {
        margin: 50px;
    }
}

/* Section Text */

.container-paragrphs {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media  screen and (min-width:768px) {
    .container-paragrphs {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 20px;
    }

}

.container-article h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.02rem;
    margin: 20px 20px 50px 0px;
}

.container-article h6 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.02rem;
    margin-top: 160px;
    margin-bottom: 20px;
}

.container-article__paragraph {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: 10px 0;
    letter-spacing: -0.02rem;
}

.container-article__paragraph--first {
    font-family: var(--font-merriweather);
    line-height: 3.2rem;
}

.container-article__paragraph--bold {
    font-weight: 700;
}

.container-article__paragraph--third {
    font-family: var(--font-merriweather);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.container-article__paragraph--center {
    font-family: var(--font-merriweather);
    text-align: center;
    font-style: italic;
    margin-top: 60px;
}

.container-article__paragraph--bolder {
    font-family: var(--font-merriweather);
    text-align: center;
    font-weight: 700;
}


/* Section form */
.container-form {
    margin: 30px auto;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.container-form-input {
    display: flex;
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

.container-form-input__radio {
    line-height: 2.4rem;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"]:not(:checked) {
    border: 2px solid #979797;
}


/* input[type="checkbox"] {
    display: none;
}

.container-form-input__checkbox {
    padding-left: 2rem;
    position: relative;
}

.container-form-input__checkbox:before {
    content: " ";
    border: solid 1px #979797;
    border-radius: 3px;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0px;
    top: 2px;
}

input[type="checkbox"]:checked + .container-form-input__checkbox:before {
    background-color: #979797;
    background-image: url(./assets/icons/bx-check.svg);
    color: #979797;
    border: red solid 2px;
} */


.container-form-input__button {
    height: 40px;
    width: auto;
    padding: 0px 16px;
    background-color: #696969;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: var(--color-white);
}

.container-form-input__button:first-of-type {
    background-color: var(--color-white);
    border: 1px solid #696969;
    color: #696969;
    font-weight: 400;
}

.container-form-input__button--search {
    height: 40px;
    width: auto;
    padding:  16px;
    background-color: #696969;
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-input__button--search img {
   margin-right: 8px;
}

.container-form-input__button--search p {
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
}




/* example class names */
.button__send {

}
.button__send:hover {
  
}

.button__send--news {

}

.button__send--form {

}